
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Roboto');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    padding: 0;
    background-color: $background;
    color: $text;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    color: $primary;
}

.billboard {
    padding: 20px 0;

    h1, h2 {
        color: black;

        span {
            color: $primary;
        }

        strong {
            font-size: 1.4rem;
            vertical-align: 10px;
            font-weight: 700;
        }
    }

    h2 {
        font-family: "Roboto", Helvetica, Arial, sans-serif;
        color: $text;
        font-size: 1.0rem;
        font-weight: 300;
    }

    .logo {
        width: 84px;
        height: 84px;
        display: block;
        margin-right: 20px;
    }

    .card {
        border: none;
        background-color: $background;
        color: $text;
        text-align: center;
    }
}

.how-it-works {
    padding-top: 20px;

    ul {
        list-style-type: none;
        margin: 0;
        font-size: 1.4em;
        padding: 0;
        
        li img {
            vertical-align: -3px;
            padding-right: 5px;
        }
    }
}

.footer-call-to-action {
    background-color: #EBEBEB;
    border-radius: 4px;
    padding: 20px;
    margin-top: 20px;
    text-align: center;

    h4 {
        display: inline;
        margin-right: 8px;
        vertical-align: -3px;
        color: $text;
    }
}

.header {
    border-bottom: 1px solid $primary;
    position: relative;

    .menu-button {
        top: 1.5rem;
        right: 1.625rem;
        position: absolute;
    }

    h1 {
        text-align: center;
        color: #000;
        font-size: 1.5rem;
        padding: 1.25rem 0;
        margin: 0;

        span {
            color: $primary;
        }
    }
}
