
// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,700|Roboto:400,700');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html, body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: $text;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: $primary;
    font-family: "Montserrat", Helvetica, Arial, sans-serif;
    font-weight: normal;
}

@keyframes expand-width {
    from {width: 0;}
    to {width: 100%;}
}

.welcome {
    header {
        padding: 48px 0;
    }

    nav {
        ul {
            list-style-type: none;
            margin: 48px 0 0 0;
            padding: 0;
            text-align: right;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            font-size: 2rem;

            .hover-underline {
                height: 8px;
                width: 0;
                right: 0;
                position: absolute;
                @include background-gradient();
            }

            a {
                display: inline-block;
                position: relative;
                line-height: 2.5rem;
                margin-bottom: 16px;

                &:hover {
                    text-decoration: none;

                    .hover-underline {
                        width: 100%;
                        animation: expand-width 0.3s ease-out;
                    }
                }
            }
        }
    }

    .billboard {
        @include background-gradient();
        overflow: hidden;

        h1 {
            color: #FFFFFF;
            font-size: 3.25rem;
            padding: 48px 0;
        }

        .signup {
            display: inline-block;
            padding-bottom: 48px;
        }

        a {
            display: inline-block;
            background-color: #FFFFFF;
            background-image: none;
            color: $primary;
            font-size: 2rem;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            text-align: center;
            line-height: 4rem;
            padding: 0 2rem;

            svg {
                vertical-align: -0.6rem;
                margin-left: 1rem;
            }

            &:hover {
                text-decoration: none;
            }
        }

        p.signup-explanation {
            color: #FFFFFF;
            font-family: "Montserrat", Helvetica, Arial, sans-serif;
            text-align: center;
            margin-bottom: 0;
        }
        
        .illustration svg {
            position: absolute;
            top: 48px;
        }
    }

    .prompt {
        text-align: center;
        padding: 48px 0;
    }

    .or {
        text-transform: uppercase;
        font-family: "Montserrat", Helvetica, Arial, sans-serif;
        color: $primary;
        text-align: center;
        margin: 96px 0;
        font-size: 1.5rem;
    }
}

.app {
    header {
        margin-top: 24px;

        h1.day {
            text-transform: uppercase;
            font-size: 5.625rem;
            line-height: 4.5rem;
            color: transparent;
            @include background-gradient();
            font-weight: bold;
            //noinspection CssInvalidPropertyValue
            background-clip: text;
            -webkit-background-clip: text;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: right;

            li {
                display: inline-block;

                a {
                    color: $primary;
                    display: inline-block;
                    margin: 24px 0 0 32px;
                    position: relative;
                    font-size: 1.125rem;
                    font-family: "Montserrat", Helvetica, Arial, sans-serif;

                    .hover-underline {
                        height: 8px;
                        width: 0;
                        right: 0;
                        position: absolute;
                        @include background-gradient();
                    }

                    &.active .hover-underline {
                        width: 100%;
                    }

                    &:hover {
                        text-decoration: none;

                        .hover-underline {
                            width: 100%;
                            animation: expand-width 0.3s ease-out;
                        }
                    }
                }
            }
        }
    }
}
